<h1>Catálogo de productos</h1>
<div class="productos">
  {{#each products}}
    <div class="card">
      <h2>{{this.title}}</h2>
      <img src="/imagenes/{{this.thumbnail}}" alt="{{this.title}}" />
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
    </div>
  {{/each}}
</div>